/* App.css */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1550px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #32325d;
  font-size: 2rem;
  margin-bottom: 20px;
}

line {
  color: #4654f3;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 8px;
}

select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 16px;
}

button {
  background-color: #4654f3;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

button:disabled {
  background-color: #4654f3;
  cursor: not-allowed;
  cursor: pointer;
}

button:hover {
  background-color: #4654f3;
  cursor: pointer;
}

.overlapping-courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 5 columns, adjust as needed */
  gap: 16px; /* Adjust the gap as needed */
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  margin-bottom: 8px;
  font-size: 1rem;
  color: #333;
}

.loading {
  color: #6772e5;
}

.error {
  color: #ff0000;
}